<body class="help">
<h2>help</h2>

<p style="margin-top: 30px;font-size: 20px;">It's okay to fall apart sometimes. Tacos fall apart and we still love them.</p>

<hr />
<div class="container row">
    <div class="col-sm-12" style="text-align: center;margin-top:px%">
        <h3>hotlines</h3>
    </div>
    <div class="well col-sm-5 d-flex justify-content-center" style="background-color: #ffffff69;border-radius: 10px;padding: 20px;margin-top: 5%;margin-left:60px;text-align: center;">
        <h4><a href="https://suicidepreventionlifeline.org/" style="color:black;">National Suicide Prevention Lifeline</a></h4>
        <p><a href="tel:1-800-273-8255">1-800-273-8255</a></p>
    </div>

    <div class="well col-sm-5 d-flex justify-content-center" style="background-color: #ffffff69;border-radius: 10px;padding: 20px;margin-top: 5%;margin-left:60px;text-align: center;">
        <h4><a href="https://www.nami.org/Find-Support/NAMI-HelpLine" style="color:black;">NAMI Helpline</a></h4>   
        <p><a href="tel:1-800-950-6264">1-800-950-6264</a></p>
    </div>
    <div class="col-sm-1"></div>
    <div class="well col-sm-10 d-flex justify-content-center" style="background-color: #ffffff69;border-radius: 10px;padding: 20px;margin-top: 5%;margin-bottom:5%;text-align: center;">
        <h4><a href="https://www.crisistextline.org/texting-in" style="color:black;">Crisis Text Line</a></h4>
        <p><a href="sms:741741">text HOME to 741741</a></p>
    </div>
</div>
<hr />
<div class="container row">
    <div class="col-sm-12" style="margin-top: 5px;">
        <h3>apps</h3>
    </div>
    <div class="col-sm-1"></div>
        <div class="well col-sm-3" style="background-color: #ffffff69;border-radius: 10px;padding: 20px;margin-top: 5%;margin-left: 20px;margin-bottom: 5%;">
            <h4><a href="https://apps.apple.com/us/app/act-coach/id804247934">ACT</a></h4>
            <p>Acceptance and Commitment Therapy (ACT) aims to help you live with unpleasant thoughts, feelings, and impulses without avoiding them or being controlled by them.</p>
        </div>
        <div class="well col-sm-3" style="background-color: #ffffff69;border-radius: 10px;padding: 20px;margin-top: 5%;margin-left: 20px;margin-bottom: 5%;">
            <h4><a href="https://www.headspace.com/headspace-meditation-app">Headspace</a></h4>
            <p>Headspace is meditation made simple. We'll teach you the life-changing skills of meditation and mindfulness in just a few minutes a day.</p>
        </div>
        <div class="well col-sm-3" style="background-color: #ffffff69;border-radius: 10px;padding: 20px;margin-top: 5%;margin-left: 20px;margin-bottom:5%">
            <h4><a href="https://www.happify.com/">Happify</a></h4>
            <p>Happify is the single destination for effective, evidence-based solutions for better mental health.</p>
        </div>
</div>
<hr />
<div class="container row">
    <div class="col-sm-12" style="margin-top: 5px;">
        <h3>podcasts</h3>
    </div>
    <div class="col-sm-4"></div>
    <div class="well col-sm-4" style="background-color: #ffffff69;border-radius: 10px;padding: 20px;px;margin-bottom:5%;margin-top: 5%;">
        <ul style="list-style: none; margin-left: -50px;">
            <li><a href="https://podcasts.apple.com/us/podcast/hannahlyze-this-by-hannah-hart/id1347239237">Hannahlyze This</a></li>
            <li><a href="https://itunes.apple.com/us/podcast/radical-transformation-podcast/id1348071388?mt=2">Radical Transformation Project</a></li>
            <li><a href="https://itunes.apple.com/us/podcast/anxiety-slayer-with-shann-and-ananga/id348096293?mt=2">Anxiety Slayer</a></li>
            <li><a href="https://itunes.apple.com/us/podcast/wellness-realness/id1128435380?mt=2">Wellness Realness</a></li>
            <li><a href="https://podcasts.apple.com/us/podcast/managing-stress-principles/id319085540?mt=2">Managing Stress</a></li>
        </ul>
    </div>
    <div class="col-sm-4"></div>
</div>

<hr />

<footer style="margin-bottom: 100px;">If you or a loved one are experiencing a mental health emergency, please dial <a href="tel:911">911</a>.</footer>
</body>