<% if (currentUser) { %> 

<div class="container row">
    <div class="col-sm-1"></div>

    <div class="col-sm-5 justify-content-around">
        <form method="GET" action="/laugh">
            <input type="submit" value="laugh" style="margin-top: 20%;height: 200px; width: 200px; border-radius: 10px; font-size: 20px;background-color: #ffffff69;">
        </form>
    </div>

    <div class="col-sm-5 justify-content-around">
        <form method="GET" action="/affirm">
            <input type="submit" value="affirmations" style="margin-top: 20%;height: 200px; width: 200px; border-radius: 10px; font-size: 20px;background-color: #ffffff69;">
        </form>
    </div>
</div> 

<div class="container row">
    <div class="col-sm-1" style="margin-top: 50px; margin-bottom: 100px;"></div>

    <div class="col-sm-5 justify-content-around">
        <form method="GET" action="/breathe">
            <input type="submit" value="breathe" style="margin-top: 20%;height: 200px; width: 200px; border-radius: 10px; font-size: 20px;background-color: #ffffff69;">
        </form>
    </div>

    <div class="col-sm-5 justify-content-around">
        <form method="GET" action="/move">
            <input type="submit" value="move" style="margin-top: 20%;height: 200px; width: 200px; border-radius: 10px; font-size: 20px;background-color: #ffffff69;">
        </form>
    </div>
</div>

<div class="container row">
    <div class="col-sm-12">
        <form method="GET" action="/help">
            <input type="submit" value="help" style="margin-top: 20%; margin-bottom: 50px;height: 45px;width: 100%; border-radius: 10px; font-size: 20px;background-color: #ffffff69;">
        </form>
    </div>
</div> 
 
<% } else { %>

<% } %>