.alert {
    text-align: center;
    color: black;
    border-radius: 10px;
}

.red {
    color: red;
    background-color: white;
}

.green {
    color: green;
    background-color: white;
}

#sanity {
    background-image: url(public/img/harli-marten-n7a2OJDSZns-unsplash.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
}