<h2>edit your positive though or affirmation</h2>

<form action="/affirm" method="POST">
    <label for="newAffirm">if I could tell myself anything...</label>
    <textarea name="newAffirm" id="affirm" cols="30" rows="10"></textarea>
    
    <input type="submit" value="+">
</form>