<body id="affirm">
  
<% if (currentUser) { %> 
<div class="container">
    <h2 class="text-center">affirmations</h2>
    <p class="text-center">
      <a href="/affirm/new">new</a>
    </p>
  
    <% selfAffirm.forEach((selfAffirm, index) => { %>
      <div class="well" style="background-color: #ffffff69;border-radius: 10px;padding: 20px;margin-top: 5%;">
        <h2><%= selfAffirm.content %></h2>
        <form method="GET" action="/affirm/<%= selfAffirm.id %>">
          <input hidden type="text" name="selfAffirm" value="<%= selfAffirm.content %>">
          <button class="btn btn-primary" type="submit" value="view">view</button>
        </form>
      </div>
      
    <% }); %>
  </div>
<div class="col-sm-12" style="margin-bottom: 10%;"></div>
<% } else { %>
  
<% } %>
</body>