<div class="container">
    <h1 class="text-center">affirmations</h1>
    <p class="text-center">
      <a href="/affirm/new">new</a>
    </p>
  
    <% affirm.forEach(function(affirms) { %>
      <div class="well">
        <h2><%= affirm.content %></h2>
        <form method="POST" action="/affirm/?_method=DELETE">
          <input hidden type="text" name="affirm" value="<%= affirm.content %>">
          <button class="btn btn-primary" type="delete" value="Delete">delete</button>
        </form>
      </div>
      
    <% }); %>
  </div>