<div class="container">
    <h1 class="text-center">affirmations</h1>
    <p class="text-center">
      <a href="/affirm/new">new</a>
    </p>
  
    <% selfAffirm.forEach((selfAffirm, index) => { %>
      <div class="well">
        <h2><%= selfAffirm.content %></h2>
        <form method="POST" action="/affirm/?_method=DELETE">
          <input hidden type="text" name="affirm" value="<%= selfAffirm.content %>">
          <button class="btn btn-primary" type="delete" value="Delete">delete</button>
        </form>
      </div>
      
    <% }); %>
  </div>