<body id="affirm">
<% if (currentUser) { %> 
<h2>affirmations</h2>
<p class="text-center">
    <a href="/affirm/index">all</a>
  </p>
<h4>enter a new positive though or affirmation</h4>

<form action="/affirm" method="POST" >
    <label for="newAffirm">if I could tell myself anything...</label>
    <hr />
    <textarea name="newAffirm" id="affirm" cols="30" rows="10" style="border-color:black;"></textarea>
    <hr />
    <input type="submit" value="+">
</form>
<% } else { %>
    
<% } %>
</body>