<% if (currentUser) { %> 
<h2>affirmations</h2>
<h3>enter a new positive though or affirmation</h3>

<form action="/affirm" method="POST">
    <label for="newAffirm">if I could tell myself anything...</label>
    <textarea name="newAffirm" id="affirm" cols="30" rows="10"></textarea>
    
    <input type="submit" value="+">
</form>
<% } else { %>
    
<% } %>