<% if (currentUser) { %> 
<div>
    <h4>feature coming soon...</h4>
</div>

<footer style="text-align: center;">
    <p>For now, here are a few links to get you started...</p>
    <ul style="list-style:none; text-align: center;">
        <li><a href="http://dailyburn.com/life/fitness/easy-yoga-poses-happy-go-yoga/">9 Easy Yoga Poses to Survive Work, Stress and Travel</a></li>
        <li><a href="https://youtu.be/hJbRpHZr_d0">Yoga With Adriene: Yoga for Anxiety & Stress (30min)</a></li>
        <li><a href="http://dailyburn.com/life/fitness/standing-desk-stretches-relieve-stress/">5 Standing Desk Stretches to Relieve Stress Now</a></li>
    </ul>
</footer>
<% } else { %>
    
<% } %>