<body id="move">
    

<% if (currentUser) { %> 

<div>
    <h3>move</h3>
</div>
<div>
    <h4>feature coming soon...</h4>
</div>

<div class="container row" style="margin-top: 25%;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <p>For now, here are a few links to get you started:</p>
    </div>
    <div class="col-sm-2"></div>
    <hr />
</div>
<div class="container row" style="margin-bottom: 25%;">
    <div class="col-sm-2"></div>
    <div class="well col-sm-8" style="background-color: #ffffff82;border-radius: 10px;padding: 20px;">
        <ul style="list-style:none;margin-left: -30px;">
            <li><a href="http://dailyburn.com/life/fitness/easy-yoga-poses-happy-go-yoga/">9 Easy Yoga Poses to Survive Work, Stress and Travel</a></li>
            <li><a href="https://youtu.be/hJbRpHZr_d0">Yoga With Adriene: Yoga for Anxiety & Stress (30min)</a></li>
            <li><a href="http://dailyburn.com/life/fitness/standing-desk-stretches-relieve-stress/">5 Standing Desk Stretches to Relieve Stress Now</a></li>
        </ul>
    </div>
    <div class="col-sm-2"></div>
</div>
<% } else { %>
    
<% } %>
</body>