<body id="laugh">
<% if (currentUser) { %> 
<div class="container">
    <h1 class="text-center">laugh</h1>
    <p class="text-center">
      <a href="/laugh">jokes</a>
    </p>
  
    <% jokes.forEach(function(joke) { %>
      <div class="well" style="background-color: #ffffff69;border-radius: 10px;padding: 20px;margin-top: 5%;">
        <h2><%= joke.content %></h2>
        <form method="POST" action="/laugh/faves/?_method=DELETE">
          <input hidden type="text" name="jokeContent" value="<%= joke.content %>">
          <button class="btn btn-primary" type="delete" value="Delete">delete</button>
        </form>
      </div>
      
    <% }); %>
  </div>
<div class="col-sm-12" style="margin-bottom: 10%;"></div>
<% } else { %>

<% } %>
</body>