
<h1>laugh</h1>
<h5><a href="/laugh/faves">faves</a></h5>

<div class="container">
    <form action="/laugh" method="GET">
        <input type="radio" id="dadz" name="jokeType" value="dadz" checked>
        <label for="dadz">dad jokes</label>
        <input type="radio" id="chuck" name="jokeType" value="chuck">
        <label for="chuck">chuck norris jokes</label>
        <input type="submit" value="Get Joke">
    </form>
   
    <form action="/laugh" method="POST">
        <input type="text" name="jokeContent" value="<%= joke.joke %>">
        <button class="btn btn-primary" type="submit">+</button>
    </form>

</div>