
<h1>laugh</h1>
<h5><a href="/laugh/faves">faves</a></h5>

<div class="container">
    <div class="radials">
        <input type="radio" id="dadz" name="jokeType" value="dadz">
        <label for="dadz">dad jokes</label>
        <input type="radio" id="chuck" name="jokeType" value="chuck">
        <label for="chuck">chuck norris jokes</label>
    </div>
    <div class="content">
        <p id="jokeContent"><%= joke.joke %></p>
    </div>

</div>